{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h2>Manage Contacts</h2>
    </div>
    <div class="row">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Phone</th>
        <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  {% for entry in contacts %}
    <tr>
        <td>{{ entry.FirstName }}</td>
      <td>{{ entry.LastName }}</td>
      <td>{{ entry.Phone }}</td>
      <td>{{ entry.Email }}</td>
        <td><a href="/edit/{{ entry.ContactId }}"</a>edit</td>
        <td><a href="/delete/{{ entry.ContactId }}">delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>


    </div>

{% endblock %}
